<?xml version="1.0" encoding="utf-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    xmlns:android = "http://schemas.android.com/apk/res/android"
    id        = "laollachica.cminteractive.eu"
    versionCode = "960"
    version   = "2.1>
    <name>La Olla Chica</name>
    <description>
        La Olla Chica
    </description>
    <author email="cminteractivesl@gmail.com" href="http://www.laollachica.es">
        La Olla Chica
    </author>
    
	<icon src="icon.png" />
	<!-- START icons for ios -->
	<platform name = 'ios'>
		<icon src='icon-40.png' platform='ios' width='40' height='40' />
		<icon src='icon-40@2x.png' platform='ios' width='80' height='80' />
		<icon src='icon-60.png' platform='ios' width='60' height='60' />
		<icon src='icon-60@2x.png' platform='ios' width='120' height='120' />
		<icon src='icon-60@3x.png' platform='ios' width='180' height='180' />
		<icon src='icon-72@.png' platform='ios' width='72' height='72' />
		<icon src='icon-72@2x.png' platform='ios' width='144' height='144' />
		<icon src='icon-76.png' platform='ios' width='76' height='76' />
		<icon src='icon-76@2x.png' platform='ios' width='152' height='152' />
		<icon src='icon-small.png' platform='ios' width='29' height='29' />
		<icon src='icon-small@2x.png' platform='ios' width='58' height='58' />
		<icon src='icon57.png' platform='ios' width='57' height='57' />
		<icon src='icon57@2x.png' platform='ios' width='114' height='114' />
	</platform>
	<!-- END icons for ios -->
    <content src="index.html" />
               
	<preference name="orientation" value="portrait" />
	<preference name="android-build-tool" value="gradle" />	
		
	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <gap:plugin name="phonegap-plugin-push" source="npm" spec="1.5.3" />
    <gap:plugin name="com.paypal.cordova.mobilesdk" source="npm"  />            	
    <gap:plugin name="cordova-plugin-device" source="npm" />		
	<gap:plugin name="cordova-plugin-inappbrowser" source="npm" />		
	<gap:plugin name="cordova-plugin-splashscreen" source="npm" />	
	<gap:plugin name="cordova-plugin-geolocation" source="npm" />
	<gap:plugin name="cordova-plugin-network-information" source="npm" />
		
	<gap:plugin name="cordova-plugin-request-location-accuracy" source="npm" />	
	<gap:plugin name="cordova-plugin-x-toast" source="npm" />	

	<gap:plugin name="cordova-plugin-fastrde-checkgps" source="npm" />
	<gap:plugin spec="https://github.com/rodrigo-martinezd/cordova-dialog-gps.git" source="git" />
	
	<gap:plugin spec="https://github.com/razorpay/razorpay-cordova.git" source="git" />
	<gap:plugin name="cordova-plugin-media" source="npm" />	
	<gap:plugin name="cordova.plugins.diagnostic" source="npm" />	
	
	<gap:plugin name="cordova-plugin-googlemaps"  source="npm" >
	   <param name="API_KEY_FOR_ANDROID" value="XXX" />
	   <param name="API_KEY_FOR_IOS" value="XXX" />
	</gap:plugin>
	
	<gap:splash src="splash.png" />
	<preference name="AutoHideSplashScreen" value="false" />  	
    <preference name="SplashScreenDelay" value="1000" />    
    <preference name="fullscreen" value="false" />
    <preference name="android-minSdkVersion" value="16" />     
	
    <access origin="*" />
    <access origin="tel:*" launch-external="yes" />
       
    <gap:config-file platform="android" parent="/manifest">
        <supports-screens android:xlargeScreens="true" android:largeScreens="true" android:smallScreens="true" />
        <application android:theme="@android:style/Theme.NoTitleBar" >            
        </application>        
    </gap:config-file>    
    
</widget>
